@import 'utilities';

div.hero{
    height: 350px;
    background-image: url("../img/cover.png");
    background-size: 170%;
    @include setTextBackground($dark-color);
    background-color: $dark-color;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding: 10px;


    p.hero-title{
        font-size: 40px;
        padding: 0px 10px;
    }
    
    hr{
        color: $light-color;
        width: 70%;
        margin: auto;
    }

    p:nth-child(n + 2){
        padding: 10px;
    }

}

div.contact-form{

    div.contact-content{

        p:nth-child(n+3){
            font-size: 35px;
            text-align: center;
            padding: 10px;
            width: 60%;
            margin: auto;
            border-radius: 20px;
            margin-bottom: 3px;
        }

        ul{
            list-style: none;
            width: 90%;
            margin: auto;
            padding: 10px;
            border-top: 2px solid $secondary-color;
            border-bottom: 2px solid $secondary-color;
            border-radius: 20px;
            align-items: center;
            
            li{
                svg{
                    width: 40px;
                    fill: $primary-color;
                }
            }
        }
    }

    div.form{
        width: 90%;
        margin: auto;

        form{
            text-align: center;

            label{
                font-size: 20px;
            }

            input{
                width: 100%;
                height: 40px;
                text-align: center;
                margin: 10px auto;
                box-shadow: $box-shadow;
                border-radius: $form-borderRadius;
                &:valid{
                    border: 1.3px solid $primary-color;
                }
            }

            textarea{
                width: 100%;
                height: 200px;
                margin-top: 10px;
                &:valid{
                border: 1.3px solid $primary-color;
            }
            }

            
        }
    }
}

section.contact-info{

    div.contact-info-container{

        div.contact-info-item{
            text-align: center;
            padding: 20px 0px;
            // col/;
            p.title{
                margin-bottom: 20px;
            }

            p{
                padding: 10px;
            }

            svg{
                width: 150px;
                height: 150px;
                fill: $primary-color;
            }
            a{
                color: $primary-color;
            }
        }
    }
}


@media screen and (min-width: 768px){
    div.hero{
        height: 450px;
        box-shadow: none;
        background-size: cover;
        
        
        div.hero-content{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            margin: auto;
            padding: 40px auto;
            
          

            div.hero-img{
                display: block;

                img{
                    width: 300px;
                }
            }

        }
    }


    div.contact-form{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 20px auto;
        box-shadow: $box-shadow;
        padding: 10px;
        
        p.title{
            border-radius: 20px;
            box-shadow: $box-shadow;
        }

        div.contact-content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        input{
            transition: .5s all ;

            &:hover{
                transform: translateY(-5px);
            }
        }

    }


    section.contact-info{
        
        div.contact-info-container{
            display: flex;
            justify-content: space-around;

            div.contact-info-item{
                width: 30%;
                box-shadow: $box-shadow;
                border-radius: $form-borderRadius;
                transition: .5s all;
               
                &:hover{
                    z-index: 100000;
                    transform: translateY(-20px);
                }
            }
        }
    }
}