@import 'config';
@import 'utilities';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


section.right{

    p.logo{
        font-size: 35px;
        text-align: center;
        text-decoration: underline;
        margin: 0px;
        padding: 10px;
        @include setTextBackground($primary-color);
        width: 100%;

        span{
            color: $secondary-color;
            text-decoration: underline;
        }
    }

    svg#profile{
        width: 80px;
        height: 80px;
    }

    div.logo-profile{
        display: flex;
        justify-content: center;
        width: fit-content;
        margin-bottom:10px;
        padding-bottom: 10px;
        border-bottom: 2px solid $secondary-color;
        border-radius: 0px 0px 20px 20px;
        box-shadow: $box-shadow;

        & svg{
            animation: 4s logo-profile infinite;

            @keyframes logo-profile {
                0%{transform: translateX(0px);}
                50%{transform: translateX(-30px);}
            }  
        }

        & img{
            animation: 4s logo-img infinite;

            @keyframes logo-img {
                0%{transform: translateX(0px);}
                50%{transform: translateX(30px);}
            }  
        }
        
    }

    p.continue{
        font-size: 35px;
        text-align: center;
    }

    form{
        
        span{
            display: flex;
            align-items: center;
            width: 90%;
            margin: auto;
          i{
                svg{
                    width: 40px;
                    height: 50px;
                    border: 1px solid $primary-color;
                    box-shadow: $box-shadow;
                    padding: 2px;
                    fill: darken($primary-color, 30);
                }
            }  

            input{
                width: 90%;
                height: 50px;
                box-shadow: $box-shadow;
                padding: 10px;
                border-color: $primary-color;
            }
        }

        span.remember{
            display: flex;
            width: fit-content;
            justify-content: center;

            input{
                width: 10px;
                margin-right: 10px;
                cursor: pointer;
            }

            label{
                font-size: 20px;
            }
        }

        button{
            display: block;
            width: fit-content;
            margin: auto;
        }

        p{
            font-size: large;
            text-align: center;
            padding-top: 20px;
        }
        
    }
}


@media screen and (min-width: 1000px){

    section.login{   
        display: flex; 

        section.left{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url("../img/background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-color: $primary-color;
            background-blend-mode: overlay;

            p{
                font-size: 50px;
                color: $light-color;
                text-align: center;
                
            }

            img{
                width: 70%;
            }

            span{
                color: $light-color;
            }

            
        }

        section.right{
            width: 35%;
            margin: auto;
            // p.logo{
            //     width: 100%;
            // }
        }
    }
}